/* M.Rossiter - 20222. Week 1 Consolidation exercise on mycity */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: #f4f4f4;
}

section{width:350px;}

p {
    font-size: large;
    margin-bottom: -5px;
}

.description::first-letter{
    background-color: #3399FF;
    color: #fff;
    float:left;
    font-size: 48px;
    margin-right: 10px;
    margin-top: 7px;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 0 0 10px -2px #999999;
}
.italic{font-style: italic;}
.bold{font-weight: bold;}